html {
  scroll-behavior: smooth;
}


body {
  background: white;
  font-family: 'Nunito', sans-serif;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-left: 40px;
  vertical-align: middle; 
}

#navbar {
  font-size: 1.5rem;
  font-weight: 100;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

#navbar .nav-link {
  margin-right: 10px;
  color: rgb(12, 12, 12);
  transition: transform 0.3s ease;
}

#navbar .nav-link:hover {
  color: rgb(65, 202, 23);
  transform: scale(1.1);
}

#navbar .navbar-brand {
  color: #060606;
  font-size: 2rem;
}

.icons {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.icons a {
  margin: 0 2px;
}

section {
  padding-top: 80px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(65, 202, 23);    
}

.content {
  margin-top: 80px ;
  margin-bottom: 100px;
}

.content img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
}

.content-a {
  display: flex;
  margin-top: 50px;
  justify-content: right;
  align-items: flex-end;
}

.blurb h4 {
  font-size: 2rem;
  margin: 10px 0;
}

.blurb h1 {
  font-size: 4rem;
  margin: 15px 0;
  white-space: nowrap; 
}

.blurb h6 {
  font-size: 1.5rem;
  margin: 5px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item strong {
  width: 120px;
  text-align: right;
}

.contact-item span {
  flex-grow: 1;
  text-align: left;
}

.contact-item i {
  margin-right: 5px;
}

.icons-c {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.icons-c p {
  margin: 0 2px;
}

/* Responsif untuk ukuran mobile */
@media (max-width: 768px) {
  .contact-info {
      align-items: flex-start; /* Sejajarkan ke kiri pada tampilan mobile */
  }

  .contact-item {
      flex-direction: column; /* Elemen vertikal di mobile */
      align-items: flex-start; /* Konten rata kiri */
  }

  .contact-item strong {
      text-align: left; /* Teks label rata kiri pada mobile */
  }
}


@media (max-width: 991px){
  .navbar-brand {
      display: none;
  }
}

@media (max-width: 768px){ 
  .blurb {
      margin-top: 2rem;
  }

  .blurb h4 {
      font-size: 1.5rem;
      text-align: center;
  }
  
  .blurb h1 {
      font-size: 2.5rem;
      text-align: center;
  }
  
  .blurb h6 {
      font-size: 1.25rem;
      text-align: center;
  }
  
  .icons {
      text-align: center;
  }

  #img-custom {
      text-align: center;
  }
}
