h1{
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}

p{
    /* text-align: center; */
    /* font-weight: 500; */
    line-height: 1.5;
}

a{
    color: blue;
    text-decoration: none;
}